.popup-image {
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-image__container {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: auto;
    height: auto;
    max-width: 75vw;
    max-height: 75vh;
    box-sizing: border-box;
    object-fit: contain;
}

.popup-image__trash-button {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url('../images/close_icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}

.popup-image__trash-button:hover {
    background-image: url('../images/close-icon-active.png');
}

.popup-image__highlight {
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    max-height: 75vh;
    overflow: hidden;
}

.popup-image__paragraph {
    position: absolute;
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
}

@media screen and (max-width: 800px) {
    .popup-image__trash-button {
        width: 30px;
        height: 30px;
        top: -30px;
        right: -30px;
    }

    .popup-image__paragraph {
        bottom: -30px;
    }
}
